@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zain:wght@200;300;400;700;800;900&display=swap');

body {
    margin: 0;
}
main {
    height: 100vh;
    position: relative;
    font-family: "Zain", sans-serif;
    min-width: 350px;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.image {
    width: 200px;
    height: auto;
}

.lettres {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 20px;
    width: 60%;
}

.button {
    border-radius: 10px;
    font-size: 3em;
    cursor: pointer;

}

.message {
    font-size: 25px;
    color: white;
    padding: 10px;
    border-radius: 15px;

}

.gagne {
    background: linear-gradient(to right, #229954, #145A32);
}

.perdu {
    background: linear-gradient(to right, #C0392B, #7B241C);
}

.motCache {
    font-size: 3em;
}

.confetti {
    position: absolute;
    z-index: 999; 
    top: 0; 
    width: 100vw; 
    height: 100vh; 
    pointer-events: none;
}

.bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100vw;
    height: 62vh;
    background: linear-gradient(white, black);
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.input label {
    font-size: 2em;
    padding: 0 15px;
}

.submit {
    display: flex;
    gap: 15px;
}

#choix {
    font-size: 18px;
    width: 350px;
}

#valider {
    font-size: 25px;
    padding: 5px 10px;
}

#valider:hover {
    opacity: 0.6;
}

.container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


/* RESPONSIVE DESIGN */
@media all and (max-width: 1100px) {
    .container {
        width: 800px;
    }
    .lettres {
        grid-template-columns: repeat(7, 1fr);
        width: 90%;
    }
    
}

@media all and (max-width: 850px) {
    main {
        padding: 0 10px;
    }
    .container {
        width: 100%;
    }
    .lettres {
        gap: 10px;
    }
    .button {
        font-size: 20px;
    }
    #choix {
        font-size: 15px;
        width: 250px;
    }
    #valider {
        font-size: 20px;
    }
    .input label {
        font-size: 25px;
        text-align: center;
    }
    .bg {
        height: 80vh;
    }
}

@media all and (max-width: 450px) {
    main {
        padding: 0;
    }
    .button {
        font-size: 15px;
    }
    .message {
        font-size: 20px;
    }
    .input label {
        font-size: 20px;
    }
    #choix {
        font-size: 15px;
        width: 250px;
        padding: 15px 5px;
    }
    .submit {
        flex-direction: column;
    }
    .lettres {
        gap: 5px;
    }
    .button {
        padding: 0;
        width: 40px;
    }
   
}